.foodCart {
  max-height: 60vh;
  overflow: scroll;
}

.total {
  margin-top: 2rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* .button:not(:last-child) {
  margin-right: 1.5rem;
} */

.totalPrice {
  text-align: right;
  margin-bottom: 1rem;
}

@media only screen and (max-width: 650px) {
  .total {
    flex-direction: column;
    gap: 2rem;
    text-align: center;
  }

  .totalPrice {
    text-align: center;
  }
}
