.header {
  color: white;
  padding: 1.5rem 8rem;
  background-color: var(--color-theme);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cart {
  font-size: 1.8rem;
  font-weight: 700;
  padding: 1.5rem 3rem;
  border-radius: 50px;
  background-color: var(--color-theme--dark);
  cursor: pointer;
  white-space: nowrap;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
}

.cart__total {
  font-size: 2rem;
  padding: 0.5rem 1rem;
  border-radius: 15px;
  background-color: var(--color-theme--light);
}

.bubbleUp {
  animation: bubble 0.2s ease-out;
}

@keyframes bubble {
  0% {
    transform: scale(1);
  }

  15% {
    transform: scale(0.9);
  }

  45% {
    transform: scale(1.1);
  }

  70% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

/* /////////////////////////////////////////////////////// */
/* MEDIA QUERIES*/
/* /////////////////////////////////////////////////////// */
@media only screen and (max-width: 650px) {
  .header {
    flex-direction: column;
    gap: 1rem;
    padding: 1.5rem 3rem;
  }
}
